@mixin get_button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 36px;
  padding: 54px 93px;
  text-align: center;
  width: 310px;
  height: 95px;
  border: 1px solid $grey-font-color;
  &:hover {
    cursor: pointer;
    background-color: $white-color;
    border: 1px solid $black-font-color;
  }
}
@mixin icon_size {
  width: 83px;
  height: 83px;
}